body {
    margin:0px; padding: 0px ;
    height:100%; width:100%;
    background: linear-gradient(145deg,  #b48a8e 0%,#030b16 100%);
    background-attachment:fixed;
    
}


.page { width:700px; margin:25px auto; background-color:#242a42; }

#header {
    width: 700px;
    height: 60px;
    background: linear-gradient(to bottom, #a7f2dd, #7bcbcc);
    border: 1px solid black;
    color:#242a42;
}

h1 {
    margin-left: 40px;
    padding-top: 10px;
    letter-spacing: 3px;
    color: #242a42  ;
}

#wrapper {
    height: auto;
    padding-bottom:20px;
    background-color: #242a42;
    color:#fff;
}

input[type="text"]#enterTask {
    border-radius: 4px;
    background: #242a42;
    height: 30px;
    width: 350px;
    font-size: 18px;
    color: #999fb5;
    border:1px solid #999fb5;
    margin-left: 175px;
    margin-top: 20px;
    padding-left: 10px;
}

input[type="checkbox"] {
    background-color:#fff;
    border:1px solid #313959;
    width: 15px;
    height: 15px;
}

#todo-list {
    margin-left: 175px;
    margin-top: 20px;
}

#todo-list li {
    display: block;
    border-bottom: 1px solid #313959;   
    width: 350px;
    height: 30px;
    background-color: transparent;
    color: #ffffff;
    padding-left: 10px;
    padding-top: 12px;
    cursor: move;
}
#todo-list li:after { clear:both; }
#todo-list li:last-child { border-bottom:none; margin-bottom:30px }

p {
   padding-left: 10px;
   margin-right:20px;
    cursor: default;
}
#todo-list li button { margin-right:5px; float:right; }

.checked {
    text-decoration: line-through;
}

#counter {
    margin-left: 175px;
    letter-spacing: 1px;
}

#parent_popup {
    display: none;
    background: rgba(10,10,10,0.85);
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
}

#popup {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 200px;
    margin-top:-100px;
    margin-left: -200px;
    border: 1px solid #999fb5;
    background-color: #242a42;
    color: #e3e3e3;
}

#popup button { padding:5px; padding-left:15px; padding-right:15px; margin:0; margin-right:10px;}


#save {
    margin: 20px 90px;
}

input[type="text"]#editTask {
    border-radius: 4px;
    background: #ffffff;
    height: 30px;
    width: 350px;
    font-size: 18px;
    color: #1c1c1c;
    margin-top: 50px;
    margin-left: 18px;
    padding-left: 10px;
}

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

button#add {
    width: 60px;
    height: 36px;
    border-radius: 5px;
}

.ghost {
    opacity: .4;
}

button { border:1px solid #999fb5; color:#999fb5; border-radius:3px; background-color:#242a42; transition:0.3s; }
button:hover { color:#242a42; border-radius:3px; background-color:#999fb5; transition:0.3s; }

